.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    width: 265px;
    /* กำหนดขนาดเครื่องคิดเลข */
}


input {
    width: 100%;
    padding: 3px;
    font-size: 3rem;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 คอลัมน์ */
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.5rem;
    border: none;
    background-color: #666;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* เพิ่ม transition */
}

/* เมื่อเอาเมาส์ไปชี้ที่ปุ่ม */
button:hover {
    background-color: red;
    /* เปลี่ยนสีปุ่มเป็นสีแดง */
    color: black;
    /* เปลี่ยนสีข้อความเป็นสีดำ */
}

/* เมื่อปุ่มถูกคลิก */
button:active {
    background-color: #aaa;
}